.card {
    font-family: 'Quicksand', sans-serif;
    margin-top: 2%;
    border-radius: 10px;
  }
  
  .resultsbutton {
    letter-spacing: 0.25em;
    color: black;
    background-color: #f2d194;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content {
    padding: 5px;
    margin-left: 1%;
  }

  .card-image{
      margin: 2%;
  }

  .card p {
      margin-left: 2%;
  }